/*#1C03DC blue*/
/*#FE18A3 pink*/
/*#1B1B1E black*/
/*#76768D gray shade*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*hr {*/
/*    border-style: none;*/
/*    border-top-style: dotted;*/
/*    border-width: 10px;*/
/*    width: 50px;*/
/*    margin: 20px auto 0 auto;*/
/*    border-color: #1E3163;*/
/*}*/

.hidden {
    display: none;
}

.navbar-container img {
    height: 50px;
    width: 50px;
}

.navbar {
    background-color: #1E3163;
    padding: 0 40px 0 40px;
}

.navbar img {
    margin: 10px;
}

.navbar-toggler {
    background-color: #F037A5 !important;
}

.navbar-toggler-icon {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

.navbar-nav a {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600;
    color: floralwhite !important;
}

.collapse button {
    color: floralwhite;
    margin-bottom: 10px;
    background-color: #FE18A3 !important;
    /*padding: 0 10px !important;*/
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.collapse button:hover {
    background-color: #ac0067 !important;
}

.btn-sm {
    padding: 0 20px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
}

/* NAVBARRRRRRRRRRRRRRRRRRR */

.recitals-container-fluid {
    margin: 0 auto;
    padding: 30px 20px;
}

.recitals-container-fluid h1 {
    font-family: "Rubik Mono One", sans-serif;
    text-align: center;
}

.recitals-container-fluid #row1 {
    margin: 0 auto 20px auto;
    width: 85%;
    padding: 10px 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}

.recitals-container-fluid h3{
    font-family:"Montserrat ExtraBold", sans-serif;
    font-weight: 800;
}

#row1 .row1-img-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 auto;
}

.row1-header-container p {
    margin: 0 auto;
}

.row-button button {
    margin: 10px auto;
    border-style: none;
    padding: 3px 20px;
    color: floralwhite;
    background-color: #2D46B9;
}

.row1-img-container .col {
    flex: 25%;
    max-width: 30%;
    padding: 0 4px;
}

.row1-img-container img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: 0.25s all ease;
}

.row1-img-container img:hover {
    transform: scale(1.25);
    box-shadow: 5px 5px 10px #dcdcdc;
}

.recitals-container-fluid #row2 {
    margin: 0 auto 20px auto;
    width: 85%;
    padding: 10px 10px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}

#row2 .row2-img-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 auto;
}

.row2-img-container img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: 0.25s all ease;
}

.row2-img-container img:hover {
    transform: scale(1.25);
    box-shadow: 5px 5px 10px #dcdcdc;
}

.row2-img-container .col {
    flex: 25%;
    max-width: 30%;
    padding: 0 4px;
}

/* FOOTER DOWN BELOW*/
.footer-container-fluid {
    color: floralwhite;
    overflow: hidden;
    background-color: #1E3163;
    margin: 0 auto;
    padding: 20px 30px;
}

.footer-container-fluid h2 {
    font-family: "Montserrat SemiBold", sans-serif;
    font-weight: 600;
}

.footer-container-fluid .fa {
    padding: 5px;
    vertical-align: center;
}

.footer-container-fluid .col-md {
    display: inline-block;
    vertical-align: top;
}

.footer-container-fluid a {
    text-decoration: none;
    color: inherit;
}

.footer-container-fluid hr {
    margin: 20px auto;
    width: 100%
}

.footer-container-fluid .col-md {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
}

.footer-container-fluid p {
    display: inline-block;
}
